Source: zimbra-ant-tar
Section: mail
Priority: optional
Build-Depends: debhelper (>=9), ant, ant-contrib, ivy
Standards-Version: 3.9.6
Maintainer: Enrico Weigelt, metux IT consult <info@metux.net>
Uploaders: Enrico Weigelt, metux IT consult <info@metux.net>

Package: zimbra-ant-tar
Section: mail
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LibreZimbra patched version of ant-tar
